@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }
}

.theme-gray {
  --color-primary-50: theme('colors.gray.50');
  --color-primary-100: theme('colors.gray.100');
  --color-primary-200: theme('colors.gray.200');
  --color-primary-300: theme('colors.gray.300');
  --color-primary-400: theme('colors.gray.400');
  --color-primary-500: theme('colors.gray.500');
  --color-primary-600: theme('colors.gray.600');
  --color-primary-700: theme('colors.gray.700');
  --color-primary-800: theme('colors.gray.800');
  --color-primary-900: theme('colors.gray.900');
}

.theme-blue {
  --color-primary-50: theme('colors.blue.50');
  --color-primary-100: theme('colors.blue.100');
  --color-primary-200: theme('colors.blue.200');
  --color-primary-300: theme('colors.blue.300');
  --color-primary-400: theme('colors.blue.400');
  --color-primary-500: theme('colors.blue.500');
  --color-primary-600: theme('colors.blue.600');
  --color-primary-700: theme('colors.blue.700');
  --color-primary-800: theme('colors.blue.800');
  --color-primary-900: theme('colors.blue.900');
}

.theme-light {
  --primaryBg: var(--color-primary-300);
  --onPrimaryBg: var(--color-primary-900);
  --accentBg: var(--color-primary-400);
  --onAccentBg: var(--color-primary-900);
  --base: var(--color-primary-500);
  --muted: var(--color-primary-50);
  --inverted: var(--color-primary-500);
  --vivid: var(--color-primary-500);
  --primary: var(--color-primary-500);
  --second: var(--color-primary-500);
  --fill: var(--color-primary-500);
  --cancel: var(--color-primary-500);
  --reset: var(--color-primary-500);
  --submit: var(--color-primary-500);
  --warning: var(--color-primary-500);
  --alert: var(--color-primary-500);
}

.theme-dark {
  --primaryBg: var(--color-primary-800);
  --onPrimaryBg: var(--color-primary-300);
  --accentBg: var(--color-primary-900);
  --onAccentBg: var(--color-primary-300);
  --base: var(--color-primary-400);
  --muted: var(--color-primary-300);
  --inverted: var(--color-primary-500);
  --vivid: var(--color-primary-500);
  --primary: var(--color-primary-500);
  --second: var(--color-primary-500);
  --fill: var(--color-primary-500);
  --cancel: var(--color-primary-500);
  --reset: var(--color-primary-500);
  --submit: var(--color-primary-500);
  --warning: var(--color-primary-500);
  --alert: var(--color-primary-500);
}
