@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }
}

.theme-gray {
  --color-primary-50: 249, 250, 251;
  --color-primary-100: 243, 244, 246;
  --color-primary-200: 229, 231, 235;
  --color-primary-300: 209, 213, 219;
  --color-primary-400: 156, 163, 175;
  --color-primary-500: 107, 114, 128;
  --color-primary-600: 75, 85, 99;
  --color-primary-700: 55, 65, 81;
  --color-primary-800: 31, 41, 55;
  --color-primary-900: 17, 24, 39;
}

.theme-blue {
  --color-primary-50: 239, 246, 255;
  --color-primary-100: 219, 234, 254;
  --color-primary-200: 191, 219, 254;
  --color-primary-300: 147, 197, 253;
  --color-primary-400: 96, 165, 250;
  --color-primary-500: 59, 130, 246;
  --color-primary-600: 37, 99, 235;
  --color-primary-700: 29, 78, 216;
  --color-primary-800: 30, 64, 175;
  --color-primary-900: 30, 58, 138;
}

.theme-light {
  --primaryBg: var(--color-primary-300);
  --onPrimaryBg: var(--color-primary-900);
  --mutedBg: var(--color-primary-900);
  --onMutedBg: var(--color-primary-600);
  --accentBg: var(--color-primary-600);
  --onAccentBg: var(--color-primary-300);
  --base: var(--color-primary-500);
  --inverted: var(--color-primary-500);
  --vivid: var(--color-primary-500);
  --primary: var(--color-primary-500);
  --second: var(--color-primary-500);
  --fill: var(--color-primary-500);
  --cancel: var(--color-primary-500);
  --reset: var(--color-primary-500);
  --submit: var(--color-primary-500);
  --warning: var(--color-primary-500);
  --alert: var(--color-primary-500);
}

.theme-dark {
  --primaryBg: var(--color-primary-800);
  --onPrimaryBg: var(--color-primary-300);
  --mutedBg: var(--color-primary-900);
  --onMutedBg: var(--color-primary-300);
  --accentBg: var(--color-primary-600);
  --onAccentBg: var(--color-primary-300);
  --base: var(--color-primary-400);
  --inverted: var(--color-primary-500);
  --vivid: var(--color-primary-500);
  --primary: var(--color-primary-500);
  --second: var(--color-primary-500);
  --fill: var(--color-primary-500);
  --cancel: var(--color-primary-500);
  --reset: var(--color-primary-500);
  --submit: var(--color-primary-500);
  --warning: var(--color-primary-500);
  --alert: var(--color-primary-500);
}
